  #timer {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: -1px;
  }
  #timer span {
    font-size: 30px;
    color: red;
    margin: 0 3px 0 20px;
  }
  #timer span:first-child {
    margin-left: 30;
  }
    