header#main-header {
    height: 54px;
    width: 100%;
    background: #000000;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}