.boss-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.boss-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.boss-list article p {
    font-size: 19px;
    color: #000000;
    margin-top: 5px;
    line-height: 24px;
}

.boss-list article a {
    height: 42px;
    border-radius: 5px;
    border:  2px solid #03a9f4;
    background: none;
    margin-top: 10px;
    color: #03a9f4;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.boss-list article a:hover {
    background: #03a9f4;
    color: #fff;
}

.boss-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}